html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

html, body, nav, header, main, aside, footer, article, section, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    /* "g-nav g-nav g-nav" */
    "header header header"
    /* "side-nav-btn breadcrumb breadcrumb" */
    "main main main"
    "footer footer footer";
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

header {
  grid-area: header;
  text-align: center;
  line-height: 4em;
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: auto min-content;
  grid-template-areas:
    "logo logo g-nav"
    "side-nav-btn breadcrumb breadcrumb";
}

header .logo {
  grid-area: logo;
}
.logo a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  font-size: 2.5rem;
  text-decoration: none;
  color: #357266;
}

.nav-button:has(#menu-button) {
  grid-area: g-nav;
}
.nav-button:has(#menu-button) label {
  background-image: url(../img/menu-burger.svg);
}

header .breadcrumb {
  grid-area: breadcrumb;
}

main {
  grid-area: main;
}

#local-nav-sidebar {
  /* display: grid; */
}
.nav-button:has(#side-menu-btn) {
  grid-area: side-nav-btn;
}
#local-nav-sidebar .nav-collapsible {
  grid-area: l-nav;
}

footer {
  grid-area: footer;
  background-color: #343434;
  color: #fff;
}

nav ul {
  list-style: none;
}

.nav-button {
  height: 4em;
  width: 4em;
  position: relative;
}
.nav-button label {
  display: inline-block;
  cursor: pointer;
  background-size: contain;
  position:absolute;
  height:2em;
  top:50%;
  margin-top:-1em;
  width: 2em;
  left: 50%;
  margin-left: -1em;
}
.nav-collapsible .nav-list, .nav-button input {
  display: none;
}
.nav-button:has(> #menu-button:checked) ~ #global-nav .nav-list, header:has(> .nav-button > #side-menu-btn:checked) ~ aside .nav-list {
  display: flex;
  position: absolute;
  z-index: 1000;
}
.nav-button:has(#menu-button:checked) ~ #global-nav .nav-list {
  z-index: 2000;
}
.nav-button:has(input[type=checkbox]:checked) ~ .nav-collapsible details .nav-list {
  position: relative;
}
.nav-list {
  width: 100%;
  height: auto;
  align-items: normal;
  padding: 0;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  background-color: #fff;
  margin-top: 4em;
}
.nav-list a, .nav-list summary {
  margin: 0.8em 0.5em;
  padding: 0.6em;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  border-bottom: 1px solid #343434;
}
.nav-list a:link, .nav-list a:visited {
  color: #000;
  font-weight: normal;
}
.nav-list a:hover, .nav-list summary:hover {
  background-color: #f7f7f8;
}
.nav-list a:hover {
  text-decoration: underline;
}
.nav-list summary {
  display: list-item;
}
.nav-list summary a {
  margin: 0;
  padding: 0;
  display: inline;
  border: none;
}
#global-nav a.this-page {
  background-color: #ABD8CF;
  border: none;
  border-radius: 5px;
}

.nav-button:has(#side-menu-btn) label {
  background-image: url(../img/menu.svg);
}
#side-menu-btn:checked ~ label {
  background-image: url(../img/menu-open.svg);
}

@media screen and (min-width: 780px) {
}

@media screen and (min-width: 1040px) {
  body {
    grid-template-columns: 0.25fr minmax(480px, auto);
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
      "header  header"
      "g-nav   g-nav"
      "l-nav    main"
      "footer  footer";
  }
  .nav-button {
    display: none;
  }
  .nav-button ~ .nav-collapsible .nav-list, .nav-button:has(input[type=checkbox]:checked) ~ .nav-collapsible .nav-list {
    display: flex;
    position: relative;
  }
  #global-nav .nav-list {
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
  }
  .nav-list a {
    width: 6em;
  }
  #local-nav-sidebar {
    display: flex;
    justify-content: center;
  }
  header {
    line-height: 8em;
  }
  footer {
    height: 5em;
  }
}
