html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

html, body, nav, header, main, aside, footer, article, section, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Grid setup */

body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content auto min-content;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

footer {
  grid-area: footer;
  background-color: #343434;
}
footer, footer a:link, footer a:visited {
  color: #fff;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: auto auto min-content;
  grid-template-areas:
    "logo logo g-nav-btn"
    "g-nav g-nav g-nav"
    "side-nav-btn breadcrumb breadcrumb";
}
.logo {
  text-align: center;
  grid-area: logo;
  line-height: 4em;
}
#global-nav {
  grid-area: g-nav;
}
.nav-button:has(> #menu-button) {
  grid-area: g-nav-btn;
}
header .breadcrumb {
  grid-area: breadcrumb;
}
.nav-button:has(> #side-menu-btn) {
  grid-area: side-nav-btn;
}

.logo a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  font-size: 2.5rem;
  text-decoration: none;
  color: #357266;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content min-content auto;
  grid-template-areas:
    "l-nav"
    "main-header"
    "in-page-nav"
    "main-body";
}
aside:has(> #local-nav) {
  grid-area: l-nav;
  padding: 15px;
}
.main-header {
  grid-area: main-header;
  padding: 15px;
}
.main-body {
  grid-area: main-body;
  padding: 15px;
}
.in-page-nav {
  grid-area: in-page-nav;
  padding: 15px;
}

/* Navigering */

nav ul {
  list-style: none;
}
.nav-button {
  height: 4em;
  width: 4em;
  position: relative;
}
.nav-button label {
  display: inline-block;
  cursor: pointer;
  background-size: contain;
  position:absolute;
  height:2em;
  top:50%;
  margin-top:-1em;
  width: 2em;
  left: 50%;
  margin-left: -1em;
}
.nav-collapsible .nav-list, .nav-button input {
  display: none;
}
.nav-button:has(> #menu-button:checked) ~ #global-nav .nav-list,
header:has(> .nav-button > #side-menu-btn:checked) ~ main .nav-collapsible .nav-list {
  display: flex;
  position: absolute;
  z-index: 1000;
}
.nav-button:has(> #menu-button:checked) ~ #global-nav .nav-list {
  z-index: 2000;
}
header:has(> .nav-button > #side-menu-btn:checked) ~ main .nav-collapsible details .nav-list {
  position: relative;
}
.nav-list {
  width: 100%;
  height: auto;
  align-items: normal;
  padding: 0;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  background-color: #fff;
}
.nav-list a, .nav-list summary {
  margin: 0.8em 0.5em;
  padding: 0.6em;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  border-bottom: 1px solid #343434;
}
.nav-list a:link, .nav-list a:visited {
  color: #000;
  font-weight: normal;
}
.nav-list a:hover, .nav-list summary:hover {
  background-color: #f7f7f8;
  cursor: pointer;
}
.nav-list a:hover {
  text-decoration: underline;
}
.nav-list summary {
  display: list-item;
}
.nav-list summary a {
  margin: 0;
  padding: 0;
  display: inline;
  border: none;
}
a.this-page {
  background-color: #ABD8CF;
  border: none;
  border-radius: 5px;
}
#menu-button ~ label {
  background-image: url(../img/menu-burger.svg);
}
#side-menu-btn ~ label {
  background-image: url(../img/menu.svg);
}
#side-menu-btn:checked ~ label {
  background-image: url(../img/menu-open.svg);
}

.in-page-nav .nav-list {
  text-align: start;
}
.in-page-nav .nav-list a {
  font-size: 1rem;
  margin: 0;
  border: none;
}

/* Bilder */

.img-collection {
  display: grid;
  height: 200px;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}
.main-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.main-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.img-collection .main-img {
  grid-column: span 3;
}
.img-collection .horizontal-img {
  grid-column: span 2;
}
.img-collection .small-img {
  grid-column: span 1;
}
.main-header section {
  flex: 1 1 auto;
}
.main-header .img-container {
  flex: 0 2 auto;
  max-height: 500px;
}


@media screen and (min-width: 780px) {
  main {
    grid-template-columns: minmax(480px, auto) minmax(180px, 0.6fr);
    grid-template-rows: min-content min-content auto;
    grid-template-areas:
      "l-nav l-nav"
      "main-header  in-page-nav"
      "main-body    in-page-nav"
  }
  .img-collection {
    height: 400px;
    grid-auto-rows: 200px;
  }
  main:not(:has(> .in-page-nav)) .main-header, main:not(:has(> .in-page-nav)) .main-body {
    grid-column: span 2;
  }
  .main-header {
    flex-direction: row;
  }
  .main-header section {
    max-width: 405px;
  }
}

@media screen and (min-width: 1040px) {
  body {
    grid-template-columns: auto minmax(480px, 1920px) auto;
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
      "header header  header"
      ". main ."
      "footer footer  footer";
  }
  header {
    grid-template-columns: auto;
    grid-template-rows: auto auto min-content;
    grid-template-areas:
      "logo"
      "g-nav"
      "breadcrumb";
  }
  main {
    justify-self: center;
    grid-template-columns: minmax(180px, 0.3fr) minmax(480px, 1200px) minmax(180px, 0.3fr);
    grid-template-rows: min-content auto;
    grid-template-areas:
      "l-nav main-header in-page-nav"
      "l-nav main-body   in-page-nav"
  }
  main:not(:has(> .in-page-nav)) .main-header, main:not(:has(> .in-page-nav)) .main-body {
    grid-column: span 1;
  }
  .main-header .img-container {
    max-width: 765px;
  }
  .logo {
    line-height: 8em;
  }
  .nav-button {
    display: none;
  }
  .nav-collapsible .nav-list,
  .nav-button:has(> #menu-button:checked) ~ #global-nav .nav-list,
  header:has(> .nav-button > #side-menu-btn:checked) ~ main .nav-collapsible .nav-list {
    display: flex;
    position: relative;
  }
  #global-nav .nav-list {
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
  }
  #global-nav a {
    width: 6em;
  }
  .img-collection {
    height: 450px;
    grid-template-rows: 250px 200px;
  }
  #local-nav {
    display: flex;
    justify-content: center;
  }
  #local-nav a, #local-nav summary {
    border: none;
  }
  footer {
    height: 5em;
  }
}
