html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

html, body, nav, header, main, aside, footer, article, section, div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Grid setup */

body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    "header"
    "l-nav"
    "main"
    "footer";
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: normal;
}

aside:has(> #local-nav) {
  grid-area: l-nav;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #343434;
  color: #fff;
}

header {
  grid-area: header;
  text-align: center;
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: auto auto min-content;
  grid-template-areas:
    "logo logo g-nav-btn"
    "g-nav g-nav g-nav"
    "side-nav-btn breadcrumb breadcrumb";
}
.logo {
  grid-area: logo;
  line-height: 4em;
}
#global-nav {
  grid-area: g-nav;
}
.nav-button:has(> #menu-button) {
  grid-area: g-nav-btn;
}
header .breadcrumb {
  grid-area: breadcrumb;
}
.nav-button:has(> #side-menu-btn) {
  grid-area: side-nav-btn;
}

.logo a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: inline-block;
  font-size: 2.5rem;
  text-decoration: none;
  color: #357266;
}

/* Navigering */

nav ul {
  list-style: none;
}
.nav-button {
  height: 4em;
  width: 4em;
  position: relative;
}
.nav-button label {
  display: inline-block;
  cursor: pointer;
  background-size: contain;
  position:absolute;
  height:2em;
  top:50%;
  margin-top:-1em;
  width: 2em;
  left: 50%;
  margin-left: -1em;
}
.nav-collapsible .nav-list, .nav-button input {
  display: none;
}
.nav-button:has(> #menu-button:checked) ~ #global-nav .nav-list,
header:has(> .nav-button > #side-menu-btn:checked) ~ aside .nav-collapsible .nav-list {
  display: flex;
  position: absolute;
  z-index: 1000;
}
.nav-button:has(> #menu-button:checked) ~ #global-nav .nav-list {
  z-index: 2000;
}
header:has(> .nav-button > #side-menu-btn:checked) ~ aside .nav-collapsible details .nav-list {
  position: relative;
}
.nav-list {
  width: 100%;
  height: auto;
  align-items: normal;
  padding: 0;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  background-color: #fff;
}
.nav-list a, .nav-list summary {
  margin: 0.8em 0.5em;
  padding: 0.6em;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  border-bottom: 1px solid #343434;
}
.nav-list a:link, .nav-list a:visited {
  color: #000;
  font-weight: normal;
}
.nav-list a:hover, .nav-list summary:hover {
  background-color: #f7f7f8;
}
.nav-list a:hover {
  text-decoration: underline;
}
.nav-list summary {
  display: list-item;
}
.nav-list summary a {
  margin: 0;
  padding: 0;
  display: inline;
  border: none;
}
#global-nav a.this-page {
  background-color: #ABD8CF;
  border: none;
  border-radius: 5px;
}
#menu-button ~ label {
  background-image: url(../img/menu-burger.svg);
}
#side-menu-btn ~ label {
  background-image: url(../img/menu.svg);
}
#side-menu-btn:checked ~ label {
  background-image: url(../img/menu-open.svg);
}

.in-page-nav .nav-list {
  text-align: left;
}
.in-page-nav .nav-list a {
  border: none;
}


@media screen and (min-width: 780px) {
}

@media screen and (min-width: 1040px) {
  body {
    grid-template-columns: 0.25fr minmax(480px, auto);
    grid-template-rows: min-content auto min-content;
    grid-template-areas:
      "header  header"
      "l-nav    main"
      "footer  footer";
  }
  header {
    grid-template-columns: auto;
    grid-template-rows: auto auto min-content;
    grid-template-areas:
      "logo"
      "g-nav"
      "breadcrumb";
  }
  .logo {
    line-height: 8em;
  }
  .nav-button {
    display: none;
  }
  .nav-collapsible .nav-list,
  .nav-button:has(> #menu-button:checked) ~ #global-nav .nav-list,
  header:has(> .nav-button > #side-menu-btn:checked) ~ aside .nav-collapsible .nav-list {
    display: flex;
    position: relative;
  }
  #global-nav .nav-list {
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: space-evenly;
  }
  #global-nav a {
    width: 6em;
  }
  #local-nav {
    display: flex;
    justify-content: center;
  }
  #local-nav a, #local-nav summary {
    border: none;
  }
  footer {
    height: 5em;
  }
}
